<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ly.nativeapp.mingle"
    android:versionCode="6"
    android:versionName="1.0.3" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <!-- For GCM here -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />

    <!-- For GCM here -->
    <permission
        android:name="com.example.mingle.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.mingle.permission.C2D_MESSAGE" />

    <application
        android:name="ly.nativeapp.mingle.MingleApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:logo="@drawable/icon"
        android:theme="@style/CustomActionBarTheme" 
        android:largeHeap="true">
        <activity
            android:name="ly.nativeapp.mingle.HuntActivity"
            android:label="@string/title_activity_hunt"
            android:taskAffinity="com.example.mingle.main" >
        </activity>
        <activity
            android:name="ly.nativeapp.mingle.MainActivity"
            android:label="@string/title_activity_main"
        	android:hardwareAccelerated="false"
            android:taskAffinity="com.example.mingle.main" >
        </activity>

        <receiver android:name="ly.nativeapp.mingle.PartnerReceiver" >
            <intent-filter>
                <action android:name="Partners_Received_Server" />
            </intent-filter>
        </receiver>

        <!-- For GCM here -->
        <receiver
            android:name="ly.nativeapp.mingle.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.mingle" />
            </intent-filter>
        </receiver>

        <service android:name="ly.nativeapp.mingle.GcmIntentService" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="ly.nativeapp.mingle.ChatroomActivity"
            android:label="@string/title_activity_chatroom"
            android:taskAffinity="com.example.mingle.main" >
            <meta-data
            	android:name="android.support.PARENT_ACTIVITY"
            	android:value="com.example.mingle.HuntActivity" />

        </activity>
        <activity
            android:name="ly.nativeapp.mingle.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:taskAffinity="com.example.mingle.main" >
            <meta-data
            	android:name="android.support.PARENT_ACTIVITY"
            	android:value="com.example.mingle.HuntActivity" />

        </activity>
        <activity
            android:name="ly.nativeapp.mingle.TransparentActivity"
            android:label="@string/title_activity_transparent"
            android:taskAffinity="com.example.mingle.popup"
            android:theme="@style/Theme.Transparent" 
            android:launchMode = "singleInstance">
        </activity>
        <activity
            android:name="ly.nativeapp.mingle.SearchSettingActivity"
            android:label="@string/title_activity_search_setting"  
            android:taskAffinity="com.example.mingle.main" >
        </activity>
        <activity
            android:name="ly.nativeapp.mingle.SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.SplashScreen"
            android:taskAffinity="com.example.mingle.main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ly.nativeapp.mingle.IntroActivity"
            android:label="@string/title_activity_intro"
            android:theme="@style/Theme.Intro"
            android:taskAffinity="com.example.mingle.main"  >
        </activity>
    </application>

</manifest>
